html, body {
  background-color: #111;
  margin: 0;
  padding: 0;
}

div#fireman-div {
  background-color: #222;
  line-height: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

canvas#fireman-canvas {
  background-color: #333;
  display: inline;
  /* height: 300mm; */
  margin: 0;
  padding: 0;
  /* width: 300mm; */
}
